.navbar-default {
  margin-bottom: 0;
  background-color: black;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-header {
  height: 8rem;
}

.btn.navbar-toggle {
  margin-top: 2rem;
}

.glyphicon {
  font-size: 5rem;
}

ul.navbar-nav {
  margin-top: 1.5rem;
  font-size: 2rem;
}

.jumbotron {
  color: white;
  height: 65rem;
  background: url(https://images.unsplash.com/photo-1497235130342-c2cef11900a3?dpr=2&auto=format&fit=crop&w=1500&h=1200&q=80&cs=tinysrgb&crop=);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 !important;
  text-align: center;
  box-shadow: 3px 3px 5px 0px rgba(235, 226, 235, 1);
}

.marketing {
  text-align: center;
}

.three-pillars {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.img-circle,
.featurette-image {
  box-shadow: 3px 3px 5px 0px rgba(235, 226, 235, 1);
}

.featurette-divider {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.detail {
  margin-top: 5rem;
}

footer {
  margin-bottom: 5rem;
}

.new,
.new:hover,
.new:visited {
  width: 30%;
  border-radius: 0;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: bold;
  font-size: 3rem;
  border-color: #009688;
  color: #009688;
}

.new:hover,
.new:hover,
.new:visited {
  color: #fff;
  background-color: #009688;
  border-color: transparent;
}

h2 {
  color: #009688;
}

h2.write {
  text-align: center;
  margin-bottom: 3rem;
}

.button-save {
  margin-top: 5rem;
  padding-right: 1rem;
}

.crud {
  margin-top: 5rem;
}

a {
  color: #009688;
}

a:hover {
  text-decoration: none;
}

.navbar-default {
  background-color: #009688;
  border-color: transparent;
}

.fa,
.fa:hover,
.fa:active{
  color: #fff;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default.navbar-nav>li>a:active {
  color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #009688;
  background-color: #fff;
}

