<div class="container">
  <div class="page-header">
    <h1>About VRBlog</h1>
  </div>
  <p class="lead">Virtual reality can lead to new and exciting discoveries in these areas which impact upon our day to day lives.</p>
</div>

<div class="container">
  <hr class="featurette-divider">
</div>