<div class="container">
  <div class="page-header">
    <h1>Contact VRBlog</h1>
  </div>
  <p class="lead">email. vrblog@gmail.com</p>
</div>

<div class="container">
  <hr class="featurette-divider">
</div>