<div class="container-fluid">
  <div class="row">
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>Virtual reality is the term used to describe a three-dimensional, computer generated environment which can be explored and interacted with by a person. That person becomes part of this virtual world or is immersed within this environment and whilst there, is able to manipulate objects or perform a series of actions.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row three-pillars">
      {{#each pillars as |pillar|}}
        {{marketing-pillar pillar=pillar}}
      {{/each}}
    </div>

    {{new-post savePost="savePost"}}

    <hr class="featurette-divider">

    {{#each blogs as |blog|}}
      {{post-detail blog=blog}}
    {{/each}}

  </div>
</div>